<div class="messageSent">
  <p><i class="far fa-check"></i> Your message has been sent!</p>
</div>

<div class="hero">
  <div class="box">
    <h1>Hi, i'm <b>Sammer</b>.</h1>
    
    <p class="description">I am a senior at <span class="highlight">IUPUI</span> graduating in December of this year and am majoring in <span class="highlight">Computer Information Technology (CIT)</span>   with a focus in Web Development. I am currently learning to become a <span class="highlight">full-stack web developer</span> through my classes at IUPUI, personal projects and my current position at the IU School of Medicine.</p>
    <div class="info">
      <div class="header">
        <div class="buttons">
          <div class="close"></div>
          <div class="minimize"></div>
          <div class="enlarge"></div>
        </div>

        <div class="title">portfolio.js</div>
      </div>

      <div class="content">
        <div class="sidebar">
          <p>1</p>
          <p>2</p>
          <p>3</p>
          <p>4</p>
          <p>5</p>
          <p>6</p>
          <p>7</p>
        </div>

        <div class="editor">
            <p><span class="purple">var</span> <span class="yellow">sammer</span></span> <span class="purple">=</span> {</p>
            <p class="tab">'<span class="green">university</span>': '<span class="green">Purdue University</span>',</p>
            <p class="tab">‘<span class="green">classStanding</span>’: ‘<span class="green">Senior</span>’,</p>
            <p class="tab">‘<span class="green">graduationDate</span>’: ‘<span class="green">Fall 2019</span>’,</p>
            <p class="tab">‘<span class="green">major</span>’: ‘<span class="green">Computer Information Tech</span>’,</p>
            <p class="tab">‘<span class="green">currentJob</span>’: ’<span class="green">Full Stack Developer</span>’</p>
            <p>}</p>
          </div>
      </div>
    </div>

    <div class="actionButtons">
        <button class="resume" onclick=" window.open('https://github.com/sammereye','_blank')"><i class="fab fa-github"></i>Check out my Github</button>

        <a href="#contactForm">
          <button onclick=" window.open('https://www.dropbox.com/s/63358c2f6w595wm/resume.pdf?dl=0','_blank')" class="contact"><i class="fas fa-file-alt"></i>View my Resume</button>
        </a>
      </div>
  </div>
</div>

<div class="container">
  <section>
    <div class="projectSection">
      <h2>Projects</h2>
      <div class="projectContainer">
        <div class="text">
          <h3 class="title">Shared Drive Manager</h3>
          <p>When I first joined the IU School of Medicine as a Full Stack Developer, I was tasked to develop a web application capable of scraping the department's shared drive and implementing the data into an easy-to-use web interface. When used, users are able to output scripts capable of adding, removing and modifying Windows permissions on the shared drive.</p>
          <div class="tags">
            <div class="tag">Ruby on Rails</div>
            <div class="tag">MSSQL</div>
            <div class="tag">Sass</div>
            <div class="tag">JavaScript</div>
          </div>
        </div>
        <div class="browserImage">
          <div class="header">
            <div class="buttons">
              <div class="close"></div>
              <div class="minimize"></div>
              <div class="enlarge"></div>
            </div>
    
            <div class="title">sharedDriveManager</div>
          </div>
          <img src="/assets/sharedDrive.png" alt="Screenshot of Shared Drive Manager" />
        </div>
      </div>

      <div class="projectContainer">
        <div class="text">
          <h3 class="title">RECIST Calculator</h3>
          <p>At the IU School of Medicine, their was a lack of usability while recording and watching the progress of lesions. Their current method involved inserting measured data into an excel sheet. This was <b>inefficent</b>, <b>unreliable</b> and <b>costly</b>. To fix this, I was tasked to build a web application that allowed individuals to enter in measurements and track a patient's progress over time in a simple and easy-to-use web application.</p>
          <div class="tags">
            <div class="tag">Ruby on Rails</div>
            <div class="tag">MSSQL</div>
            <div class="tag">Sass</div>
            <div class="tag">JavaScript</div>
          </div>
        </div>
        <div class="browserImage">
          <div class="header">
            <div class="buttons">
              <div class="close"></div>
              <div class="minimize"></div>
              <div class="enlarge"></div>
            </div>
    
            <div class="title">recistCalculator</div>
          </div>
          <img src="/assets/recist.png" alt="Screenshot of Recist Calculator" />
        </div>
      </div>

      <div class="projectContainer">
        <div class="text">
          <h3 class="title">Westriver High LMS</h3>
          <p>Out of mere curiosity and to learn more about complex systems, I wanted to build an application similar to common LMS's (Learning Management Systems) applications such as Canvas™ and Blackboard™. Westriver High LMS allowed teachers, students and parents to log in and view relevant school information such as assignments, class information and grades in a neatly organized layout.</p>
          <div class="tags">
            <div class="tag">NodeJS</div>
            <div class="tag">MySQL</div>
            <div class="tag">JavaScript</div>
          </div>
        </div>
        <div class="browserImage">
          <div class="header">
            <div class="buttons">
              <div class="close"></div>
              <div class="minimize"></div>
              <div class="enlarge"></div>
            </div>
    
            <div class="title">westriverLMS</div>
          </div>
          <img src="/assets/westriver.png" alt="Screenshot of Westriver LMS" />
        </div>
      </div>
    </div>

    <div class="skillsSection">
      <h2>Skills</h2>
      <div class="skillsContainer">
        <div class="frontEnd">
          <h3>Front-End</h3>
          <div class="listItem">
            <i class="far fa-egg"></i>
            <p><b>Planning:</b> Wireframes, Prototyping, Diagrams</p>
          </div>
          <div class="listItem">
            <i class="fas fa-egg"></i>
            <p><b>Design:</b> Adobe XD, Photoshop, Illustrator</p>
          </div>
          <div class="listItem">
            <i class="far fa-egg"></i>
            <p><b>Languages:</b> HTML, SCSS, JavaScript</p>
          </div>
          <div class="listItem">
            <i class="fas fa-egg"></i>
            <p><b>Frameworks:</b> jQuery, React.JS</p>
          </div>
        </div>

        <div class="backEnd">
          <h3>Back-End</h3>
          <div class="listItem">
            <i class="far fa-egg"></i>
            <p><b>Languages:</b> Ruby on Rails, Python, Node.JS</p>
          </div>
          <div class="listItem">
            <i class="fas fa-egg"></i>
            <p><b>Databases:</b> SQL, Active Record</p>
          </div>
          <div class="listItem">
            <i class="far fa-egg"></i>
            <p><b>Deployment:</b> Heroku, Google Cloud</p>
          </div>
        </div>
      </div>
    </div>

    <!--
    <h2 id="contactForm">Contact Me</h2>
    <div class="contactContainer">
      <div class="details">
        <div class="emailInput">
          <input id="userEmail" type="email" placeholder="example@example.com">
          <i class="far fa-envelope"></i>
          <div class="line"></div>
          <label for="userEmail">Email Address <span class="required emailRequired">— Required</span></label>
          </input>
        </div>
        <div class="nameInput">
          <input id="userName" type="text" placeholder="e.g. Johnny Appleseed">
          <i class="far fa-signature"></i>
          <div class="line"></div>
          <label for="userName">Full Name <span class="required nameRequired">— Required</span></label>
          </input>
        </div>
      </div>
      <div class="message">
        <label for="userMessage">Message <span class="required messageRequired">— Required</span></label>
        <textarea id="userMessage" rows="10" placeholder="Enter your message"></textarea>
      </div>

      <div class="submitForm">
        <button>Send Message</button>
      </div>
    </div>
    -->
  </section>
</div>

<footer>
  <i class="fab fa-github"   onclick="window.open('https://github.com/sammereye/','_blank')"></i>
  <i class="fab fa-linkedin" onclick="window.open('https://www.linkedin.com/in/sammerabu/','_blank')"></i>
</footer>

<%= javascript_include_tag "main" %>
