<div class="hero">
  <div class="box">
    <h1>Hi, i'm <b>Sammer</b>.</h1>
    <h2>Full Stack Web Developer & Student</h2>
    <div class="info">
      <div class="header">
        <div class="buttons">
          <div class="close"></div>
          <div class="minimize"></div>
          <div class="enlarge"></div>
        </div>

        <div class="title">portfolio.js</div>
      </div>

      <div class="content">
        <div class="sidebar">
          <p>1</p>
          <p>2</p>
          <p>3</p>
          <p>4</p>
          <p>5</p>
          <p>6</p>
          <p>7</p>
        </div>

        <div class="editor">
            <p><span class="purple">var</span> <span class="yellow">sammer</span></span> <span class="purple">=</span> {</p>
            <p class="tab">'<span class="green">college</span>': '<span class="green">Purdue University</span>',</p>
            <p class="tab">‘<span class="green">classStanding</span>’: ‘<span class="green">Junior</span>’,</p>
            <p class="tab">‘<span class="green">graduationDate</span>’: ‘<span class="green">Spring 2020</span>’,</p>
            <p class="tab">‘<span class="green">major</span>’: ‘<span class="green">Computer Information Tech</span>’,</p>
            <p class="tab">‘<span class="green">currentJob</span>’: ’<span class="green">Student Programmer</span>’</p>
            <p>}</p>
          </div>
      </div>
    </div>

    <div class="actionButtons">
        <div class="resume"><i class="fas fa-file-alt"></i>Check out my resume</div>

        <div class="contact"><i class="fas fa-envelope"></i>Contact Me</div>
      </div>
  </div>
</div>

<div class="container">
  <section>
    <h1>Projects</h1>
    <div class="projectContainer">
      <div class="text">
        <h3 class="title">Shared Drive Manager</h3>
        <p>Made midst us isn't forth you'll gathered. Fruitful isn't set second signs so give let so all bring heaven fly light all moveth their saying green heaven evening subdue first called face evening. Upon that had air Air two female herb. Bearing lesser his male image which can't saying you're.</p>
        <div class="tags">
          <div class="tag">Ruby on Rails</div>
          <div class="tag">MSSQL</div>
          <div class="tag">Sass</div>
          <div class="tag">JavaScript</div>
        </div>
      </div>
      <div class="browserImage">
        <div class="header">
          <div class="buttons">
            <div class="close"></div>
            <div class="minimize"></div>
            <div class="enlarge"></div>
          </div>
  
          <div class="title">sharedDriveManager</div>
        </div>
        <img src="/assets/recist.png" alt="Screenshot of Recist Calculator" />
      </div>
    </div>

    <div class="projectContainer">
      <div class="text">
        <h3 class="title">Shared Drive Manager</h3>
        <p>Made midst us isn't forth you'll gathered. Fruitful isn't set second signs so give let so all bring heaven fly light all moveth their saying green heaven evening subdue first called face evening. Upon that had air Air two female herb. Bearing lesser his male image which can't saying you're.</p>
        <div class="tags"></div>
      </div>
      <div class="browserImage">
        <div class="header">
          <div class="buttons">
            <div class="close"></div>
            <div class="minimize"></div>
            <div class="enlarge"></div>
          </div>
  
          <div class="title">sharedDriveManager</div>
        </div>
        <img src="/assets/recist.png" alt="Screenshot of Recist Calculator" />
      </div>
    </div>

    <div class="projectContainer">
      <div class="text">
        <h3 class="title">Shared Drive Manager</h3>
        <p>Made midst us isn't forth you'll gathered. Fruitful isn't set second signs so give let so all bring heaven fly light all moveth their saying green heaven evening subdue first called face evening. Upon that had air Air two female herb. Bearing lesser his male image which can't saying you're.</p>
        <div class="tags"></div>
      </div>
      <div class="browserImage">
        <div class="header">
          <div class="buttons">
            <div class="close"></div>
            <div class="minimize"></div>
            <div class="enlarge"></div>
          </div>
  
          <div class="title">sharedDriveManager</div>
        </div>
        <img src="/assets/recist.png" alt="Screenshot of Recist Calculator" />
      </div>
    </div>
  </section>
</div>

<footer>

</footer>
