<header>
    <div class="container">
        <div class="headerContainer">
            <div class="logo">Sammer<br />Aburumman</div>
            <a href="/">Home</a>
        </div>
    </div>
</header>
<div class="container article">
  <section>
    <div class="projectSection">
      <h2>RECIST Calculator</h2>
      <div class="wideContainer">
        <iframe src='https://www.youtube.com/embed/ZxWSZyg1Z6w' width='70%' height="500" frameborder='0' allowfullscreen></iframe>
      </div>
      <div class="projectContainer">
        <div class="text">
          <h3 class="title">Why was it needed?</h3>
          <h4>Background Information</h4>
          <p>When a patient is found to have cancerous tumors they will most likely undergo some form of treatment to help reduce the size of the tumors and hopefully eventually eliminate them. RECIST, short for <b>response evaluation criteria in solid tumors</b>, is a set of published rules that determine when tumors in cancer patients improve, stay the same or worsen during the patient's treatment.</p>
          <h4>Existing Workflow Issues</h4>
          <p>The issues that the radiologists and oncologists at the Riley Children's Hospital and the Simon Cancer Center faced were <b>human errors and inconsistencies</b>. To determine the next plan-of-action for the patient, they did the RECIST calculations manually, either by hand or by an excel sheet. <b>This manual type of workflow created major issues with time constraints and consistency</b> when multiple radiologists and oncologists would log a patient's tumor sizes independently. When it comes to a patient's life in a critical situation, such as having cancer, there isn't room for errors. <b>A human error made by radiologists or oncologists can potentially result in a less effective treatment being prescribed to the patient.</b></p>
        </div>
        <div class="browserImage">
          <div class="imageContainer">
            <div class="header">
              <div class="buttons">
                <div class="close"></div>
                <div class="minimize"></div>
                <div class="enlarge"></div>
              </div>
      
              <div class="title">Adobe XD Designs</div>
            </div>
            <div class="image">
              <img src="/assets/xd.png" alt="Screenshot of Recist Calculator Adobe XD Wireframes" />
            </div>
            <a href="/assets/xd.png" target="_blank" class="expand"><i class="far fa-expand-alt"></i></a>
          </div>
          <div class="imageContainer">
            <div class="header">
              <div class="buttons">
                <div class="close"></div>
                <div class="minimize"></div>
                <div class="enlarge"></div>
              </div>
      
              <div class="title">Database ER Diagram</div>
            </div>
            <div class="image">
              <img src="/assets/RECIST ERD.png" alt="Screenshot of Recist Calculator Database Design" />
            </div>
            <a href="/assets/RECIST ERD.png" target="_blank" class="expand"><i class="far fa-expand-alt"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<footer>
  <i class="fab fa-github"   onclick="window.open('https://github.com/sammereye/','_blank')"></i>
  <i class="fab fa-linkedin" onclick="window.open('https://www.linkedin.com/in/sammerabu/','_blank')"></i>
</footer>

<%= javascript_include_tag "main" %>
