<header>
    <div class="container">
        <div class="headerContainer">
            <div class="logo">Sammer<br />Aburumman</div>
            <a href="/">Home</a>
        </div>
    </div>
</header>
<div class="container article">
  <section>
    <div class="projectSection">
      <h2>RECIST Calculator</h2>
      <div class="projectContainer">
        <div class="text">
          <h3 class="title">Why was it needed?</h3>
          <p>At the IU School of Medicine, their was a lack of usability while recording and watching the progression of tumors. Their current method involved inserting measured data into an excel sheet. This was <b>inefficent</b>, <b>unreliable</b> and <b>costly</b>. To fix this, I was tasked to build a web application that allowed individuals to enter in measurements and track a patient's progress over time in a simple and easy-to-use web application.</p>
        </div>
        <div class="browserImage">
          <div class="header">
            <div class="buttons">
              <div class="close"></div>
              <div class="minimize"></div>
              <div class="enlarge"></div>
            </div>
    
            <div class="title">recistCalculator</div>
          </div>
          <img src="/assets/recist.png" alt="Screenshot of Recist Calculator" />
        </div>
      </div>

      <div class="projectContainer">
        <div class="text">
          <h3 class="title">Shared Drive Manager</h3>
          <p>When I first joined the IU School of Medicine as a Full Stack Developer, I was tasked to develop a web application capable of scraping the department's shared drive and implementing the data into an easy-to-use web interface. When used, users are able to output scripts capable of adding, removing and modifying Windows permissions on the shared drive.</p>
          <div class="links">
            <a class="source noSource"><i class="far fa-code"></i> View Source Code
              <div class="tooltip">
                <div class="issue">To protect patient data and ensure HIPAA-compliance, I am unable to provide source code.</div>
                <div class="arrow"></div>
              </div>
            </a>
            <a href="/shared" class="more">How and Why I Made It <i class="fas fa-angle-right"></i></a>
          </div>
        </div>
        <div class="browserImage">
          <div class="header">
            <div class="buttons">
              <div class="close"></div>
              <div class="minimize"></div>
              <div class="enlarge"></div>
            </div>
    
            <div class="title">sharedDriveManager</div>
          </div>
          <img src="/assets/sharedDrive.png" alt="Screenshot of Shared Drive Manager" />
          <div class="tags">
            <div class="tag">Ruby on Rails</div>
            <div class="tag">MSSQL</div>
            <div class="tag">Sass</div>
            <div class="tag">JavaScript</div>
          </div>
        </div>
      </div>

      <div class="projectContainer">
        <div class="text">
          <h3 class="title">Westriver High LMS</h3>
          <p>Out of mere curiosity and to learn more about complex systems, I wanted to build an application similar to common LMS's (Learning Management Systems) applications such as Canvas™ and Blackboard™. Westriver High LMS allowed teachers, students and parents to log in and view relevant school information such as assignments, class information and grades in a neatly organized layout.</p>
          <div class="links">
            <a class="source" href="https://github.com/sammereye/westriver"><i class="far fa-code"></i> View Source Code  </a>
            <a href="/westriver" class="more">How and Why I Made It <i class="fas fa-angle-right"></i></a>
          </div>
        </div>
        <div class="browserImage">
          <div class="header">
            <div class="buttons">
              <div class="close"></div>
              <div class="minimize"></div>
              <div class="enlarge"></div>
            </div>
    
            <div class="title">westriverLMS</div>
          </div>
          <img src="/assets/westriver.png" alt="Screenshot of Westriver LMS" />
          <div class="tags">
            <div class="tag">NodeJS</div>
            <div class="tag">MySQL</div>
            <div class="tag">JavaScript</div>
          </div>
        </div>
      </div>
    </div>

    <div class="skillsSection">
      <h2>Skills</h2>
      <div class="skillsContainer">
        <div class="frontEnd">
          <h3>Front-End</h3>
          <div class="listItem">
            <i class="far fa-egg"></i>
            <p><b>Planning:</b> Wireframes, Prototyping, Diagrams</p>
          </div>
          <div class="listItem">
            <i class="fas fa-egg"></i>
            <p><b>Design:</b> Adobe XD, Photoshop, Illustrator</p>
          </div>
          <div class="listItem">
            <i class="far fa-egg"></i>
            <p><b>Languages:</b> HTML, SCSS, JavaScript</p>
          </div>
          <div class="listItem">
            <i class="fas fa-egg"></i>
            <p><b>Frameworks:</b> jQuery, React.JS</p>
          </div>
        </div>

        <div class="backEnd">
          <h3>Back-End</h3>
          <div class="listItem">
            <i class="far fa-egg"></i>
            <p><b>Languages:</b> Ruby on Rails, Python, Node.JS</p>
          </div>
          <div class="listItem">
            <i class="fas fa-egg"></i>
            <p><b>Databases:</b> SQL, Active Record</p>
          </div>
          <div class="listItem">
            <i class="far fa-egg"></i>
            <p><b>Deployment:</b> Heroku, Google Cloud</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<footer>
  <i class="fab fa-github"   onclick="window.open('https://github.com/sammereye/','_blank')"></i>
  <i class="fab fa-linkedin" onclick="window.open('https://www.linkedin.com/in/sammerabu/','_blank')"></i>
</footer>

<%= javascript_include_tag "main" %>
