html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

















body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  overflow-x: hidden;
}

.highlight {
  color: #1e6bff;
  font-weight: 600;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 95vh;
  background-image: url("hero.jpg");
  background-size: cover;
  background-position: center;

  .box {
    font-family: 'Poppins', sans-serif;
    width: 520px;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0px 4px 12px #00000081;
    padding: 20px 35px;
    box-sizing: border-box;
    margin-left: -40%;

    h1 {
      font-size: 50px;

      b {
        font-weight: 500;
      }
    }

    .description {
      font-size: 14px;
      margin-bottom: 16px;
      line-height: 26px;
      font-family: 'PT Sans', sans-serif;
      color: #727272;
      font-weight: 600;
    }

    .info {
      height: 205px;
      width: 100%;
      background-color: #1B1E2B;
      border-radius: 8px;

      .content {
        display: flex;
        height: 175px;
        width: 100%;

        .sidebar {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          width: 45px;
          height: 100%;
          border-right: 1px solid #11131A;

          p {
            color: #81869e;
            font-family: 'Roboto Mono', monospace;
            font-size: 14px;
          }
        }

        .editor {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          width: 100%;
          height: 100%;
          padding-left: 15px;
          color: #84D4F5;
          font-family: 'Roboto Mono', monospace;
          font-size: 14px;

          .tab {
            padding-left: 20px;
          }

          .purple {
            color: #C792EA;
          }

          .yellow {
            color: #F7C569;
          }

          .green {
            color: #BDE18A;
          }
        }
      }
    }

    .actionButtons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 55px;
      margin-top: 20px;
      margin-bottom: 5px;

      a {
        text-decoration: none;
        box-sizing: border-box;
        width: 40%;
      }


      button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border: 2px solid #0040bd;
        box-shadow: 0px 2px 0px #0040bd;
        border-radius: 10px;
        font-weight: 500;
        transition: all .2s;
        font-family: inherit;
        font-size: 16px;
        cursor: pointer;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0px 4px 0px #0040bd;
        }

        &:active {
          transform: translateY(2px);
          box-shadow: 0px 0px 0px #0040bd;
        }

        &:focus {
          outline: none;
        }

        & > i {
          margin-right: 8px;
        }
      }

      .resume {
        width: 55%;
        background-color: #1e6bff;
        color: white;
      }

      .contact {
        width: 100%;
        background-color: white;
        color: #1e6bff;
      }
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  margin-top: -50px;

  section {
    width: 1280px;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0px 0px 20px #0000002b;
    font-family: 'Poppins', sans-serif;
    z-index: 1;

    h2 {
      font-size: 40px;
      margin-top: 40px;
      margin-left: 60px;
      margin-right: 60px;
      font-weight: 500;
      color: #1B1E2B;
      text-shadow: 0px 2px 2px #0000001a;
      border-bottom: 2px solid #D1D1D1;
      padding-bottom: 12px;
    }

    .aboutContainer {
      display: flex;
      justify-content: space-between;
      padding: 15px 60px;
      margin-bottom: 60px;

      p {
        width: 55%;
        font-family: 'PT Sans', sans-serif;
        color: #3E3E3E;
        font-size: 16px;
        line-height: 40px;
      }

      img {
        border-radius: 20px;
        margin-right: 12.5%;
      }
    }

    .projectSection {
      margin-bottom: 40px;

      .projectContainer {
        display: flex;
        justify-content: space-between;
        padding: 40px 60px;

        .text {
          width: 45%;

          .title {
            font-size: 25px;
            font-weight: 500;
            color: #1B1E2B;
          }

          p {
            margin-top: 10px;
            font-family: 'PT Sans', sans-serif;
            color: #3E3E3E;
            font-size: 16px;
            line-height: 36px;
          }

          .tags {
            display: flex;
            height: 30px;
            margin-top: 10px;

            .tag {
              padding: 0 10px;
              margin-right: 15px;
              border-radius: 15px;
              font-size: 13px;
              font-weight: 500;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #0068ff;
              color: white;
              height: 100%;
              width: fit-content;
            }
          }
        }

        .browserImage {
          height: 250px;
          background-color: #F7F7F7;
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          border-radius: 8px;

          .header {
            border-bottom: none;
            .buttons {

            }

            .title {
              color: rgb(102, 102, 102);
              font-weight: 600;
            }
          }

          img {
            max-height: 90%;
            border-radius: 0 0 8px 8px;
          }
        }
      }
    }

    .skillsSection {
      background-color: #0068ff;
      color: #f5faff;
      padding: 30px 0;
      margin: 10px 0;
      margin-bottom: 70px;

      h2 {
        color: white;
        border-bottom: 2px solid #6ea8ff;
        margin-bottom: 25px;
      }

      .highlight {
        color: white;
      }

      .skillsContainer {
        display: flex;
        margin: 20px 60px; 
        margin-bottom: 50px;
  
        & > * {
          width: 50%;
        }
  
        h3 {
          font-family: 'Poppins', sans-serif;
          font-size: 25px;
          font-weight: 500;
          color: white;
          margin-bottom: 20px;
        }
  
        .listItem {
          display: flex;
          align-items: center;
          margin-bottom: 14px;
  
          p {
            font-family: 'PT Sans', sans-serif;
            font-size: 18px;
  
            b {
              font-weight: 600;
              font-size: 15px;
              letter-spacing: 0.5px;
            }
          }
  
          i {
            font-size: 11px;
            margin: 0 10px;
          }
        }
      }
    }

    .contactContainer {
      padding: 40px 60px;
      margin-bottom: 30px;

      .details {

        .nameInput {
          margin-top: 30px;
        }

        & > * {
          width: 50%;
          position: relative;

          i {
            color: #929292;
            position: absolute;
            top: 50%;
            left: 0;  
            transform: translateY(-50%);
            margin-left: 12px;
            font-size: 14px;
          }

          .line {
            height: 50%;
            width: 2px;
            background-color: #5c5c5c;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 35px;
          }

          label {
            position: absolute;
            top: 0%;
            left: 0%;
            transform: translateY(-50%);
            margin-left: 35px;
            background-color: white;
            padding: 0px 10px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
            color: #0068ff;
            font-size: 14px;
          }

          input {
            height: 47.5px;
            border: 2px solid #494949;
            border-radius: 30px;
            width: 90%;
            padding: 0px 45px;
            font-size: 14px;
            box-sizing: border-box;
            font-family: 'PT Sans', sans-serif;
            transition: all .3s;

            &:focus {
              outline: none;
              box-shadow: 0px 2px 0px #494949;
              transform: translateY(-2px);
            }
          }
        }

        .subjectInput {
          width: 45%;
        }
      }

      .message {
        margin-top: 30px;
        width: 50%;
        position: relative;

        label {
          position: absolute;
          top: 0%;
          left: 0%;
          transform: translateY(-50%);
          margin-left: 35px;
          background-color: white;
          padding: 0px 10px;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 1px;
          color: #0068ff;
          font-size: 14px;
          z-index: 1;
        }

        textarea {
          width: 90%;
          border: 2px solid #494949;
          border-radius: 10px;
          box-sizing: border-box;
          padding: 20px 30px;
          font-size: 13px;
          resize: none;
          transition: all .3s;
          font-family: 'PT Sans', sans-serif; 

          &:focus {
            outline: none;
            box-shadow: 0px 2px 0px #494949;
            transform: translateY(-2px);
          }
        }
      }

      .submitForm {
        margin-top: 20px;
        height: 45px;
        width: 50%;

        button {
          display: flex;
          width: 90%;
          justify-content: center;
          align-items: center;
          height: 100%;
          background-color: #1e6bff;
          color: white;
          border: 2px solid #0040bd;
          box-shadow: 0px 2px 0px #0040bd;
          border-radius: 10px;
          font-weight: 500;
          transition: all .2s;
          font-family: inherit;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 4px 0px #0040bd;
          }
  
          &:active {
            transform: translateY(2px);
            box-shadow: 0px 0px 0px #0040bd;
          }
  
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}










footer {
  width: 100%;
  height: 200px;
  background-color: #1B1E2B;
  margin-top: -50px;
}

.header {
  display: flex;
  position: relative;
  align-items: center;
  height: 25px;
  width: 100%;
  border-bottom: 1px solid #11131A;

  .buttons {
    display: flex;
    margin-left: 15px;
    width: 50px;
    justify-content: space-between;
  
    & > * {
      height: 12px;
      width: 12px;
      border-radius: 50%;
    }

    .close {
      background-color: #EE665A;
    }

    .minimize {
      background-color: #E1C04C;
    }

    .enlarge {
      background-color: #46BB21;
    }
  }

  .title {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: #858db5;
    font-weight: 500;

  }
}

.projectContainer:nth-of-type(even) {
  background-color: #383838;
  
  .text {
    .title {
      color: white !important;
    }

    p {
      color: #E3E3E3 !important;
    }
  }
}